APP_NAME=FlowDesk
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=flowdesk
DB_USERNAME=flowdesk
DB_PASSWORD=secret

REDIS_HOST=127.0.0.1
QUEUE_CONNECTION=redis
CACHE_STORE=redis

SESSION_DRIVER=cookie
MAIL_MAILER=log
